@font-face {
  font-weight: 700;
  font-family: "Raleway";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/raleway-700-normal.woff2") format("woff2"), url("../fonts/raleway-700-normal.woff") format("woff");
}

@font-face {
  font-weight: 900;
  font-family: "Raleway";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/raleway-900-normal.woff2") format("woff2"), url("../fonts/raleway-900-normal.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-family: "Roboto";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/roboto-400-normal.woff2") format("woff2"), url("../fonts/roboto-400-normal.woff") format("woff");
}

@font-face {
  font-weight: 500;
  font-family: "Roboto";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/roboto-500-normal.woff2") format("woff2"), url("../fonts/roboto-500-normal.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "Roboto";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/roboto-700-normal.woff2") format("woff2"), url("../fonts/roboto-700-normal.woff") format("woff");
}

@font-face {
  font-weight: 900;
  font-family: "Roboto";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/roboto-900-normal.woff2") format("woff2"), url("../fonts/roboto-900-normal.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-family: "Circe";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/circe-regular.woff2") format("woff2"), url("../fonts/circe-regular.woff") format("woff");
}

body {
  margin: 0 auto;
  min-width: 320px;
  background-color: $white;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
