.site-nav__toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 18px;
  height: 14px;
}

.site-nav__toggle-line {
  width: 18px;
  height: 2px;
  border-radius: 1px;
  background-color: #959595;
}

.site-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site-nav__item {
  color: #383838;
  font-family: $Circe;
  font-weight: 400;
  text-transform: uppercase;
}

.page-header--closed {
  display: none;
}

@media (max-width: $mobile) {
  .site-nav__toggle {
    margin-left: auto;
  }

  .site-nav__list {
    position: absolute;
    left: 0;
    top: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .site-nav__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-size: 12px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    background-color: #e7e7e7;
  }
}
