// viewports
$mobile: 767px;
$tablet: 768px;
$desktop: 1200px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
// fonts
$Releway-R: "Releway Regular", "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
$Releway-B: "Releway Bold", "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
$Roboto-R: "Roboto Regular", "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
$Roboto-B: "Roboto Bold", "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
$Circe: "Circe Regular", "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
// colors
$white: #ffffff;
$black: #000000;
