// viewports
$mobile: 767px;
$tablet: 1199px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
// fonts
$Raleway: "Raleway", "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
$Roboto: "Roboto", "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
$Circe: "Circe", "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
// colors
$white: #ffffff;
$black: #000000;
// style
@mixin container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;

  @media (max-width: 1199px) {
    max-width: 768px;
  }

  @media (max-width: 767px) {
    max-width: 330px;
  }
}
